<header class="header">
    <div class="container header__container">
        <h1 class="header__title flat flex flex--aligned">
            <a href="/admin" class="header__title">
                {{#if arrowVisible }}<div class="header__arrow"><i class="fal fa-chevron-left"></i></div>{{/if}}
                Logging Down Under
            </a>
        </h1>
        <div class="header__user" id="menuBtn">
            <i class="fal fa-user-circle"></i>
            <span class="header__name">{{ name }}</span>
        </div>
    </div>
</header>
