<div class="sidebar">
    <div class="sidebar__bg" id="sidebarBg"></div>
    <div class="sidebar__body">
        <div class="container container--padded">
            <div class="sidebar__hero">
                <h1 class="flat">{{ name }}</h1>
                <p class="flat"><small>{{ email }}</small></p>
            </div>
            <ul class="unstyled">
                <li>
                    <a href="/logout" class="sidebar__link">
                        <div class="sidebar__icon">
                            <i class="fal fa-sign-out h1"></i>
                        </div>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
