<p>Hello {{contact.name}},</p>

<p>New files were uploaded for <strong>{{hole.code}}</strong>.</p>

<p>http://app.loggingdownunder.com.au/client</p>

<p>
    Regards,
    <br>
    Logging Down Under
</p>
