<h1>Welcome {{name}},</h1>

<p>Visit <a href="http://app.loggingdownunder.com.au/client">http://app.loggingdownunder.com.au/client</a> and login using</p>
<p>Your email is <strong>{{email}}</strong></p>
<p>Your password is <strong>{{password}}</strong></p>

<p>
    Regards,<br>Logging Down Under
</p>
